<% if @booze_level == 0 %>

<%= link_to get_bac_url do %> 
	<div class="bac-button zero">
		<div class="text">WHAT IS MY BAC?</div>
	</div>
<% end %>

<% elsif @booze_level == 1 %>

<%= link_to get_bac_url do %>  
	<div class="bac-button one">
		<div class="text">HOW DRUNK AM I?</div>
	</div>
<% end %>

<% elsif @booze_level == 2 %>

<%= link_to get_bac_url do %> 
	<div class="bac-button two">
		<div class="text">AM &nbsp;I&nbsp; DRUNK?</div>
	</div>
<% end %>

<% else %>

<%= link_to get_bac_url do %> 
	<div class="bac-button three">
		<div class="text">DRUNK?</div>
	</div>
<% end %>

<% end %>

<% if @booze_level > 1 %>
	<div class="barstools nite">
	</div>
<% else %>
	<div class="barstools">
	</div>
<% end %>