<h1>LATE NITE NOMS <div class="label-emoji"><img src="https://abs.twimg.com/emoji/v1/72x72/1f374.png"></div></h1> 

<table align="center">
	<tr>
		<td><div class="icon-logo"><img src="https://abs.twimg.com/emoji/v1/72x72/1f355.png"></div></td>
		<td><div class="icon-logo"><img src="https://abs.twimg.com/emoji/v1/72x72/1f354.png"></div></td>
		<td><div class="icon-logo"><img src="https://abs.twimg.com/emoji/v1/72x72/1f357.png"></div></td>
	</tr>
	<tr>
		<td><div class="icon-logo"><img src="https://abs.twimg.com/emoji/v1/72x72/1f35d.png"></div></td>
		<td><div class="icon-logo"><img src="https://abs.twimg.com/emoji/v1/72x72/1f35c.png"></div></td>
		<td><div class="icon-logo"><img src="https://abs.twimg.com/emoji/v1/72x72/1f36a.png"></div></td>
	</tr>
</table>

<div class="join-hop">
	<input style="width: 80%; margin: 0 10%;" type="text" class="latlong" placeholder="Search food...">
	<div class="option-button">
		<div class="text">
			SEARCH
		</div>
	</div>
</div>