<h1>CALLIN' IT A NIGHT <div class="label-emoji"><img src="https://abs.twimg.com/emoji/v1/72x72/1f634.png"></div></h1>

<%= link_to uber_end_url do %>
<div class="option-button">
	<div class="text">
		ORDER AN UBER
	</div>
</div>
<% end %>

<%= link_to end_hop_url do %>
<div class="option-button blue">
	<div class="text">
		JUST QUIT
	</div>
</div>
<% end %>