/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 body {
 	margin: 0;
 	padding: 0;
 }

 #core {
 	width: 100%;
 	max-width: 600px;
 	margin: 0 auto;
 	background: #F5E5C0;
 }

header {
	height: 4em;
	background: #2F3440;

	nav {
		display: inline-block;
	}

	#logo {
		display: inline-block;
		height: 3em;
		padding: .5em 0;

		img {
			height: 100%;
		}
	}

	#drunk-o-meter {
		display: inline-block;
	}
}