/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 @mixin transition($trans) {
	-webkit-transition: $trans 0.15s ease-in;
	-moz-webkit-transition: $trans 0.15s ease-in;
	-o-webkit-transition: $trans 0.15s ease-in;
	transition: $trans 0.15s ease-in;
}

* {
	margin: 0;
}

 body, html {
 	margin: 0;
 	padding: 0;
 	width: 100%;
 	height: 100%;
 }

 body {
 	font-family: Lato;
 	color: black;

 	&.nite {
 		color: #F5E5C0;
 	}
 }

 #core {
 	width: 100%;
 	max-width: 550px;
 	background: #F5E5C0;
 	position: relative;

 	min-height: 100%;
	height: auto !important; /* This line and the next line are not necessary unless you need IE6 support */
	height: 100%;
	margin: 0 auto -155px; /* the bottom margin is the negative value of the footer's height */

	&.nite {
		background: #2F3440;
	}
 }

header {
	text-align: center;
	position: relative;
	height: 4em;
	background: #2F3440;

	&.nite {
		background: #3F5666;
	}

	nav {
		display: inline-block;
		position: absolute;
		left: 0;

		.menu-icon {
			width: 2em;
			height: 2em;
			padding: 1em;

			&:hover {
				cursor: pointer;
			}

			img {
				width: 100%;
				height: 100%;
			}
		}
	}

	ul {
			display: none;
			padding: 0;
			margin: -2px 0 0 0;
			float: left;
			width: 100%;
			background: #3F5666;

			&.nite {
				background: #F5E5C0;

				li {
					border-bottom: 1px darken(#F5E5C0, 10%) solid;

					a {
						color: #2F3440;
					}

					&:hover {
						background: darken(#F5E5C0, 10%);
					}
				}
			}

			li {
				width: 100%;
				list-style: none;
				text-align: center;
				padding: .75em 0;

				border-bottom: 1px darken(#3F5666, 10%) solid;

				a {
					display: inline-block;
					color: #F5E5C0;
					text-decoration: none;
					width: 100%;
				}

				@include transition(background);

				&:hover {
					background: darken(#3F5666, 10%);
				}
			}
		}

	#logo {
		display: inline-block;
		height: 3em;
		padding: .5em 0;

		img {
			height: 100%;
		}
	}

	#drunk-o-meter {
		font-size: .75em;
		position: absolute;
		top: 0;
		right: 0;
		padding: 1.2em 1.3em 0 0;
		color: #F5E5C0;
		display: inline-block;

		#drunk-emoji {
			float: right;
			height: 3em;
			width: 3em;

			img {
				width: 100%;
				height: 100%;
			}
		}
	}
}

.option-button {
	background: #F8CA4D;
	border-right: solid darken(#F8CA4D, 25%) 5px;
	border-bottom: solid darken(#F8CA4D, 25%) 5px;
	border-radius: 10px;
	width: 80%;
	margin: 2em auto 0;
	height: 4em;

	&.blue {
		background: #3F5666;
		border-right: solid darken(#3F5666, 25%) 5px;
		border-bottom: solid darken(#3F5666, 25%) 5px;

		.text {
			color: #F8CA4D;
		}
	}

	.text {
		color: #2F3440;
		width: 100%;
		text-align: center;
		font-size: 2em;
		padding-top: .4em;	
	}

	.button-emoji {
		width: .8em;
		height: .8em;
		display: inline-block;
		padding-left: .25em;

		img {
			width: 100%;
			height: 100%;
		}
	}

	&.two {
		height: 6em;
		width: 90%;
		margin: 2em 5%;

		.text {
			font-size: 2.3em;
			font-weight: bold;
			padding-top: .8em;
		}
	}

	&.three {
		height: 17em;
		width: 90%;
		margin: 1em 5%;

		.text {
			font-size: 6em;
			font-weight: bold;
			padding-top: .8em;
		}
	}
}

p {
	width: 80%;
	margin: 1em auto 0;
}

input[type="text"].latlong, input[type="password"].latlong {
	display: inline-block;
	width: 80%;
	margin: .5em 10% 0;
	height: 1em;
	padding: .25em 0;
	border-radius: 10px;

	font-size: 2em;
	text-align: center;
}

footer, .push {
	height: 155px; /* .push must be the same height as .footer */
}
